info:
  app:
    name: '@info.app.name@'
    version: '@info.app.version@'
    grailsVersion: '@info.app.grailsVersion@'
grails:
  controllers:
    upload:
      maxFileSize: 26214400
      maxRequestSize: 26214400
  mail:
    host: smtp.gmail.com
    port: 465
    username: barnwal.priyanshu4@gmail.com
    password: ifntnsxxlugrjdby
    props:
      mail.smtp.auth: true
      mail.smtp.socketFactory.port: 465
      mail.smtp.socketFactory.class: javax.net.ssl.SSLSocketFactory
      mail.smtp.socketFactory.fallback: false
      default:
        from: barnwal.priyanshu4@gmail.com
  plugin:
    console:
      enabled: true
  mime:
    disable:
      accept:
        header:
          userAgents:
          - Gecko
          - WebKit
          - Presto
          - Trident
    types:
      all: '*/*'
      atom: application/atom+xml
      css: text/css
      csv: text/csv
      form: application/x-www-form-urlencoded
      html:
      - text/html
      - application/xhtml+xml
      js: text/javascript
      json:
      - application/json
      - text/json
      multipartForm: multipart/form-data
      pdf: application/pdf
      rss: application/rss+xml
      text: text/plain
      hal:
      - application/hal+json
      - application/hal+xml
      xml:
      - text/xml
      - application/xml
  views:
    gsp:
      encoding: UTF-8
      htmlcodec: xml
      codecs:
        expression: html
        scriptlet: html
        taglib: none
        staticparts: none
    default:
      codec: html
dataSource:
  url: jdbc:oracle:thin:@localhost:1521/orclpdb1
  driverClassName: oracle.jdbc.OracleDriver
  dialect: org.hibernate.dialect.Oracle12cDialect
  username: linksharing
  password: 'linksharing'
  pooled: true
  jmxExport: true
  dbCreate: update
hibernate:
  allow_update_outside_transaction: true
  cache:
    queries: false
    use_second_level_cache: false
    use_query_cache: false

spring:
  servlet:
    multipart:
      max-file-size: 26214400
      max-request-size: 26214400